h1{
	font-family: arial;
	border-style: solid;
	background-color: grey;
	color: orange;
}
h3{
	justify-content: center;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	background-color: grey;
	color: orange;
	text-align: left;
	font-family: arial;
}

h4{
	justify-content: center;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	background-color: grey;
	color: orange;
	text-align: left;
	font-family: arial;
}

p{
	justify-content: center;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	color: orange;
	background-color: #646464;
	font-family: arial;
}

marquee{
	color: orange;
	font-family: arial;
	background-color: #646464;
}

object{
	margin-left: 10%;
}

audio{
	display: block;
    margin-left: auto;
    margin-right: auto;
	width: 80%;
}

iframe{
	margin-left: 10%;
}

body{
	background-color: darkgrey;
}
#episode{
	background-color: grey;
	color: orange;
	font-family: arial;
	font-size: 24px;
}
ul{
	justify-content: center;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	color: orange;
	background-color: #646464;
	font-family: arial;
}
#announcement{
	font-family: "Arial", sans-serif;
	background-color: grey;
	color: orange;
	margin-left: 10%;
}

a:link{
	color: orange;
}

a:visited{
	color: #E59400;
}

a:hover{
	color: red;
}

footer{
	margin-left: 10%;
}

#menu{
	margin-left: 10%;
}

#banner{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#tile{
	margin-left: 10%;
}

form{
	margin-left: 10%;
	font-family: "Arial", sans-serif;
}

table, tr, th, td{
	margin-left: 10%;
	width: 25%;
	border: 1px solid black;
	color: orange;
	background-color: #646464;
	font-family: arial;
}