h1{
	font-family: arial;
	border-style: solid;
	background-color: red;
	color: white;
}
h3{
	background-color: red;
	color: white;
	text-align: center;
}
p{
	width: 50%;
	background-color: white;
	color: black;
}
body{
	background-image: url('background1.jpg');
}
#episode{
	background-color: red;
	color: white;
	font-family: arial;
}
ul{
	background: white;
	width: 50%;
}